@model List<Blog>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Blog</h2>
            <ol>
                <li><a asp-controller="home" asp-action="index">Home</a></li>
                <li>Blog</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4 posts-list">

                @foreach (Blog blog in Model)
                {
                    <div class="col-xl-4 col-md-6">
                        <div class="post-item position-relative h-100">

                            <div class="post-img position-relative overflow-hidden">
                                <img src="@blog.Thumbnail" class="img-fluid" alt="@blog.Title">


                                <span class="post-date">@blog.ReleaseDate.ToString("dd/MMMM/yyyy")</span>
                            </div>

                            <div class="post-content d-flex flex-column">

                                <h3 class="post-title">@blog.Title</h3>

                                <div class="meta d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-person"></i> <span class="ps-2">@blog.Author</span>
                                    </div>
                                    <span class="px-3 text-black-50">/</span>
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                                    </div>
                                    <span class="px-3 text-black-50">/</span>

                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-ui-radios"></i>
                                        @*birinci ternary operatorla yazmishdim amma 1 commentide nezere alsin deye bele yazdim*@
                                        @{
                                            if (blog.Comments.Count == 0)
                                            {
                                                <span class="ps-2">
                                                    No comments
                                                </span>
                                            }
                                            else if (blog.Comments.Count == 1)
                                            {
                                                <span class="ps-2">
                                                    @($"{blog.Comments.Count} comment")
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="ps-2">
                                                    @($"{blog.Comments.Count} comments")
                                                </span>          
                                            }
                                        }
                                    </div>

                                </div>

                                <p>
                                       @(blog.Description.Length>=100 ? @blog.Description.Substring(0, 100) : blog.Description)
                                </p>
                                      <hr>
                                      <a asp-controller="home" asp-action="blogdetails" asp-route-id="@blog.Id" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

                            </div>

                        </div>
                    </div><!-- End post list item -->

                }

            </div><!-- End blog posts list -->

            <div class="blog-pagination">
                <ul class="justify-content-center">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div><!-- End blog pagination -->

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
